Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2024-09, with the labels that each got.

#21 Update trusted-launch-existing-vm.md
  articles/virtual-machines/trusted-launch-existing-vm.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, trusted-launch/subsvc

#24 Update custom-data.md
  articles/virtual-machines/custom-data.md
Labels: ready-to-merge, Change sent to author, azure-virtual-machines/svc

#34 Update msv3-mdsv3-medium-series.md typo
  articles/virtual-machines/msv3-mdsv3-medium-series.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#29 Update monitor-vm-reference.md
  articles/virtual-machines/monitor-vm-reference.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#36 Update dadsv6-series-summary.md
  articles/virtual-machines/sizes/general-purpose/includes/dadsv6-series-summary.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc
