Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2024-08, with the labels that each got.

#3 modify service to systemctl for more consistency
  articles/virtual-machines/linux/use-remote-desktop.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc

#6 Update disks-premv2-regions.md
  articles/virtual-machines/includes/disks-premv2-regions.md
Labels: ready-to-merge, Change sent to author, azure-disk-storage/svc

#4 Update quick-cluster-create-terraform.md
  articles/virtual-machines/windows/quick-cluster-create-terraform.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc

#5 Update quick-create-terraform.md
  articles/virtual-machines/windows/quick-create-terraform.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc

#2 Esv6 series supports Premium Storage and Premiumm Storage Caching
  articles/virtual-machines/sizes/memory-optimized/esv6-series.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#11 Correct Intel Xeon SKU from 8473C to 8573C on Intel based v6 instances
  articles/virtual-machines/dlsv6-dldsv6-series.md
  articles/virtual-machines/dsv6-ddsv6-series.md
  articles/virtual-machines/esv6-edsv6-series.md
  articles/virtual-machines/sizes/general-purpose/includes/ddsv6-series-specs.md
  articles/virtual-machines/sizes/general-purpose/includes/ddsv6-series-summary.md
  articles/virtual-machines/sizes/general-purpose/includes/dldsv6-series-specs.md
  articles/virtual-machines/sizes/general-purpose/includes/dldsv6-series-summary.md
  articles/virtual-machines/sizes/general-purpose/includes/dlsv6-series-specs.md
  articles/virtual-machines/sizes/general-purpose/includes/dlsv6-series-summary.md
  articles/virtual-machines/sizes/general-purpose/includes/dsv6-series-specs.md
  articles/virtual-machines/sizes/general-purpose/includes/dsv6-series-summary.md
  articles/virtual-machines/sizes/memory-optimized/includes/edsv6-series-specs.md
  articles/virtual-machines/sizes/memory-optimized/includes/edsv6-series-summary.md
  articles/virtual-machines/sizes/memory-optimized/includes/esv6-series-specs.md
  articles/virtual-machines/sizes/memory-optimized/includes/esv6-series-summary.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc
