Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2024-10, with the labels that each got.

#52 Update overview.md
  articles/virtual-machines/sizes/overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#50 Update agent-windows.md
  articles/virtual-machines/extensions/agent-windows.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, extensions/subsvc

#39 Fix cloud-init config and sudo commands.
  articles/virtual-machines/linux/create-upload-generic.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc

#62 Update important message about staging resource group
  articles/virtual-machines/linux/image-builder-json.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, image-builder/subsvc

#66 Fix "poin-in-time" typo.
  articles/virtual-machines/backup-and-disaster-recovery-for-azure-iaas-disks.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-disk-storage/svc

#54 Invalid image "UbuntuLTS". Use a valid image "Ubuntu2204"
  articles/virtual-machines/disks-deploy-zrs.md
Labels: aq-pr-triaged, inactive, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-disk-storage/svc

#46 Modify supported linux versions
  articles/virtual-machines/enable-nvme-interface.md
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#28 Update Project Flash - Use Azure Monitor to monitor Azure Virtual Machine availability
  articles/virtual-machines/flash-azure-monitor.md
  articles/virtual-machines/media/flash/context-property-filter.png
  articles/virtual-machines/media/flash/metric-alert-rule.png
Labels: aq-pr-triaged, inactive, ready-to-merge, needs-human-review, Change sent to author, azure-virtual-machines/svc

#53 Update quick-create-portal.md
  articles/virtual-machines/windows/quick-create-portal.md
Labels: aq-pr-triaged, inactive, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#67 Update Ephemeral OS disk support
  articles/virtual-machines/sizes/general-purpose/dsv3-series.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#47 Update disk-encryption-troubleshooting.md
  articles/virtual-machines/linux/disk-encryption-troubleshooting.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, security/subsvc

#48 Update disk-encryption-portal-quickstart.md
  articles/virtual-machines/linux/disk-encryption-portal-quickstart.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, security/subsvc

#51 Update generalize.yml
  articles/virtual-machines/generalize.yml
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure-virtual-machines/svc, imaging/subsvc

#58 Update deprecated-images.yml
  articles/virtual-machines/deprecated-images.yml
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, review-team-triage

#78 Update virtual-machine-scale-sets-networking.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-networking.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machine-scale-sets/svc, networking/subsvc

#79 Update container-instances-managed-identity.md
  articles/container-instances/container-instances-managed-identity.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-container-instances/svc

#83 Update oracle-migration.md
  articles/virtual-machines/workloads/oracle/oracle-migration.md
Labels: do-not-merge, Change sent to author, oracle-on-azure/svc
