Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2024-11, with the labels that each got.

#84 Update vm-applications.md
  articles/virtual-machines/vm-applications.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, gallery/subsvc

#69 Update windows-in-place-upgrade.md
  articles/virtual-machines/windows-in-place-upgrade.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#68 Update windows-in-place-upgrade.md
  articles/virtual-machines/windows-in-place-upgrade.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#93 Update automatic-vm-guest-patching.md to indicate availability timelines for Windows Server 2025 Azure Edition
  articles/virtual-machines/automatic-vm-guest-patching.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, maintenance/subsvc

#95 Adding explicitly requirement to set context of subscription
  articles/virtual-machines/disks-enable-host-based-encryption-portal.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-disk-storage/svc

#49 Update tutorial-custom-images.md and change `--managed-image` to `--virtual-machine` parameter.
  articles/virtual-machines/linux/tutorial-custom-images.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, gallery/subsvc

#96 Add links to AHB eligible RHEL and SLES offers
  articles/virtual-machines/linux/azure-hybrid-benefit-linux.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, billing/subsvc
