Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2024-12, with the labels that each got.

#102 Update instance-metadata-service.md
  articles/virtual-machines/instance-metadata-service.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#99 Update image-version.md
  articles/virtual-machines/image-version.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, gallery/subsvc

#115 Update azure-hybrid-benefit-linux.md
  articles/virtual-machines/linux/azure-hybrid-benefit-linux.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, billing/subsvc
