Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2025-02, with the labels that each got.

#126 Update prepare-for-upload-vhd-image.md
  articles/virtual-machines/windows/prepare-for-upload-vhd-image.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, imaging/subsvc

#145 Update vmaccess-linux.md
  articles/virtual-machines/extensions/vmaccess-linux.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, extensions/subsvc

#146 Update azure-vm-watch.md
  articles/virtual-machines/azure-vm-watch.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#149 Update disks-enable-host-based-encryption-powershell.md
  articles/virtual-machines/windows/disks-enable-host-based-encryption-powershell.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-disk-storage/svc

#154 Fix incorrect resource type in ARM template to create container group profile for standby pool
  articles/container-instances/container-instances-standby-pool-create.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-container-instances/svc

#120 Update az cli for disabling Private Link network policies
  articles/virtual-machines/linux/image-builder-vnet.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, image-builder/subsvc

#109 Update scheduled-events.md
  articles/virtual-machines/windows/scheduled-events.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, scheduled-events/subsvc

#152 Added limitation if the disk is attached to a VM
  articles/virtual-machines/includes/virtual-machines-disks-performance-tiers-restrictions.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#147 Update azure-vm-watch.md
  articles/virtual-machines/azure-vm-watch.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc
