Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2025-06, with the labels that each got.

#236 Update key-vault-windows.md - Add missing link to IIS Rebind
  articles/virtual-machines/extensions/key-vault-windows.md
Labels: aq-pr-triaged, inactive, do-not-merge, Change sent to author, azure-virtual-machines/svc, extensions/subsvc

#215 update container instances faq with big containers reference
  articles/container-instances/container-instances-faq.yml
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure-container-instances/svc

#253 Update virtual-machine-scale-sets-orchestration-modes.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes.md
Labels: do-not-merge, Change sent to author, azure-virtual-machine-scale-sets/svc

#257 Update esv5-series.md
  articles/virtual-machines/sizes/memory-optimized/esv5-series.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#224 Add IPv6 schema to IMDS docs
  articles/virtual-machines/instance-metadata-service.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc

#237 Update portal.md
  articles/virtual-machines/metadata-security-protocol/other-examples/portal.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc
