Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2025-01, with the labels that each got.

#111 RHEL 10 network config change
  articles/virtual-machines/workloads/redhat/redhat-images.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, redhat/subsvc

#119 Update automatic-vm-guest-patching.md to remove restrictions noted on Windows Server 2025 Azure Edition
  articles/virtual-machines/automatic-vm-guest-patching.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, maintenance/subsvc

#125 update data disk default cache mode
  articles/virtual-machines/includes/virtual-machine-disk-performance-2.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-disk-storage/svc

#114 Update TOC.yml
  articles/container-instances/TOC.yml
Labels: aq-pr-triaged, inactive, do-not-merge, needs-human-review, review-team-triage

#127 Update expand-disks.md
  articles/virtual-machines/linux/expand-disks.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-disk-storage/svc

#130 Correcting parameter of SSH command
  articles/virtual-machines/ssh-keys-azure-cli.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#131 Update disks-types.md
  articles/virtual-machines/disks-types.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-disk-storage/svc

#134 Update spot-placement-score.md
  articles/virtual-machine-scale-sets/spot-placement-score.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc

#128 Update disks-whats-new.md
  articles/virtual-machines/disks-whats-new.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-disk-storage/svc

#92 Updated EOs support as not supported
  articles/virtual-machines/sizes/general-purpose/dpdsv6-series.md
  articles/virtual-machines/sizes/general-purpose/dpldsv6-series.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#98 Update msv3-mdsv3-high-memory-series.md
  articles/virtual-machines/sizes/memory-optimized/msv3-mdsv3-high-memory-series.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, virtual-machines-windows/svc

#141 Fix `Set-AzVMExtension` example
  articles/virtual-machines/extensions/hpccompute-amd-gpu-windows.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, hpc/subsvc
