Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2025-03, with the labels that each got.

#159 Update generation-2.md
  articles/virtual-machines/generation-2.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#156 Update resize-vm.md
  articles/virtual-machines/sizes/resize-vm.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc

#167 Update esv6-series.md
  articles/virtual-machines/sizes/memory-optimized/esv6-series.md
Labels: ready-to-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#153 Update ddsv4-series.md wrong VM size listed
  articles/virtual-machines/sizes/general-purpose/ddsv4-series.md
Labels: aq-pr-triaged, inactive, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#168 Update with info on in-place upgrade to Ubuntu Pro
  articles/virtual-machines/workloads/canonical/ubuntu-els-guidance.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc, vm-linux-setup-configuration/subsvc

#169 Edit Cobalt Overview and B-series pages
  articles/virtual-machines/sizes/cobalt-overview.md
  articles/virtual-machines/sizes/general-purpose/includes/basv2-series-summary.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#170 Update service-fabric-image-store-connection-string.md
  articles/service-fabric/service-fabric-image-store-connection-string.md
Labels: aq-pr-triaged, ready-to-merge, azure-service-fabric/svc, Change sent to author

#151 Update spot-vms.md
  articles/virtual-machines/spot-vms.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc

#176 Fix typo in size column for ddv4-series.md
  articles/virtual-machines/sizes/general-purpose/ddv4-series.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#181 Update maintenance-and-updates.md
  articles/virtual-machines/maintenance-and-updates.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc

#183 Update ubuntu-els-guidance.md
  articles/virtual-machines/workloads/canonical/ubuntu-els-guidance.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc, vm-linux-setup-configuration/subsvc

#184 Update toc.yml
  articles/virtual-machines/workloads/canonical/toc.yml
Labels: do-not-merge, needs-human-review, review-team-triage

#185 Set the correct sku for ubuntu 24.04
  articles/virtual-machines/linux/using-cloud-init.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc, extensions/subsvc

#186 Update vmaccess-linux.md and vmaccess-windows.md
  articles/virtual-machines/extensions/vmaccess-linux.md
  articles/virtual-machines/extensions/vmaccess-windows.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, extensions/subsvc

#191 Add reboot command after the NVIDIA GPU driver installation
  articles/virtual-machines/linux/n-series-driver-setup.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#194 Update virtual-machines-n-series-linux-support.md
  articles/virtual-machines/includes/virtual-machines-n-series-linux-support.md
Labels: aq-pr-triaged, do-not-merge, review-team-triage
