Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2025-08, with the labels that each got.

#259 Fix typo in ensv6-series.md
  articles/virtual-machines/sizes/memory-optimized/ensv6-series.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#266 Fix SFBinaryLoader initialization in service-fabric-services-inside-containers.md
  articles/service-fabric/service-fabric-services-inside-containers.md
Labels: aq-pr-triaged, ready-to-merge, azure-service-fabric/svc, Change sent to author

#235 Update cloud-init-troubleshooting.md
  articles/virtual-machines/linux/cloud-init-troubleshooting.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc, cloud-init/subsvc

#297 Update how-to-managed-cluster-networking.md
  articles/service-fabric/how-to-managed-cluster-networking.md
Labels: do-not-merge, azure-service-fabric/svc, Change sent to author

#281 Correct typo in permission
  articles/virtual-machines/windows/run-command.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc

#293 Updated the New-AzGalleryImageVersion Powershell command
  articles/virtual-machines/windows/tutorial-custom-images.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, gallery/subsvc

#285 Update number of VM Applications Version.md
  articles/virtual-machines/vm-applications.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, gallery/subsvc

#300 Update agent-windows.md
  articles/virtual-machines/extensions/agent-windows.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, extensions/subsvc

#301 Update probes-codepackage.md with correct scheme information
  articles/service-fabric/probes-codepackage.md
Labels: aq-pr-triaged, ready-to-merge, azure-service-fabric/svc, Change sent to author

#305 Update Gen 1 support for Bv2
  articles/virtual-machines/sizes/general-purpose/basv2-series.md
  articles/virtual-machines/sizes/general-purpose/bsv2-series.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#290 Update container-instances-virtual-network-concepts.md
  articles/container-instances/container-instances-virtual-network-concepts.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-container-instances/svc

#296 Update disks-enable-performance.md
  articles/virtual-machines/disks-enable-performance.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-disk-storage/svc

#311 changed SKU for SUSE versions
  articles/virtual-machines/linux/using-cloud-init.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc, extensions/subsvc
