Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2025-05, with the labels that each got.

#216 Update disks-premv2-regions.md
  articles/virtual-machines/includes/disks-premv2-regions.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-disk-storage/svc

#219 Update Canonical Ubuntu LTS end-of-support guidance
  articles/virtual-machines/workloads/canonical/ubuntu-els-guidance.md
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure-virtual-machines/svc, vm-linux-setup-configuration/subsvc

#192 Update manual install agent-windows.md
  articles/virtual-machines/extensions/agent-windows.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-virtual-machines/svc, review-team-triage, extensions/subsvc

#222 Hbv4 Overview page base frequency update
  articles/virtual-machines/hbv4-series-overview.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc, hpc/subsvc

#212 cloud-init-troubleshooting.md: add errors reported by cloud-init
  articles/virtual-machines/linux/cloud-init-troubleshooting.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-virtual-machines/svc, cloud-init/subsvc

#231 Update container-instances-rolling-update.md with info about cancelli…
  articles/container-instances/container-instance-ngroups/container-instances-rolling-update.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-container-instances/svc

#205 Update container-instances-quickstart.md
  articles/container-instances/container-instances-quickstart.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-container-instances/svc

#240 Update audit-logs-to-rules with AllowList Info for MSP Docs
  articles/virtual-machines/metadata-security-protocol/other-examples/audit-logs-to-rules.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc

#226 Update error-codes-spot.md
  articles/virtual-machines/error-codes-spot.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, azure-spot-vm/subsvc

#239 Update ncv3-nc6s-nc12s-nc24s-retirement.md
  articles/virtual-machines/ncv3-nc6s-nc12s-nc24s-retirement.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#242 Fix typo in VMSS networking docs
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-networking.md
Labels: do-not-merge, Change sent to author, azure-virtual-machine-scale-sets/svc, networking/subsvc
