Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2025-07, with the labels that each got.

#269 Update container-instances-environment-variables.md
  articles/container-instances/container-instances-environment-variables.md
Labels: do-not-merge, Change sent to author, azure-container-instances/svc

#278 Update previous-gen-sizes-list.md
  articles/virtual-machines/sizes/previous-gen-sizes-list.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc, sizes/subsvc

#277 Update disks-enable-customer-managed-keys-cli.md
  articles/virtual-machines/linux/disks-enable-customer-managed-keys-cli.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-disk-storage/svc

#283 freshness update openshift-azure-stack.md
  articles/virtual-machines/linux/openshift-azure-stack.md
Labels: ready-to-merge, Change sent to author, azure-stack/svc

#273 Update disks-understand-billing.md
  articles/virtual-machines/disks-understand-billing.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-disk-storage/svc
