Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2025-09, with the labels that each got.

#313 Correct title metadata in update-linux-agent.md
  articles/virtual-machines/extensions/update-linux-agent.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-virtual-machines/svc, extensions/subsvc

#298 Update dedicated-host-memory-optimized-skus.md
  articles/virtual-machines/dedicated-host-memory-optimized-skus.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-dedicated-host/svc

#325 Fix link to Azure Disk Storage Center
  articles/virtual-machines/disks-hdd-os-retirement.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-disk-storage/svc

#303 Update container-instances-quickstart-powershell.md to fix incorrect …
  articles/container-instances/container-instances-quickstart-powershell.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-container-instances/svc

#332 Update Standard HDDs and Billing section for clarity on disks-types.md
  articles/virtual-machines/disks-types.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-disk-storage/svc
