Repository MicrosoftDocs/azure-compute-docs, pull requests merged in 2025-04, with the labels that each got.

#173 Update image-builder-troubleshoot.md
  articles/virtual-machines/linux/image-builder-troubleshoot.md
Labels: aq-pr-triaged, inactive, do-not-merge, Change sent to author, azure-virtual-machines/svc, image-builder/subsvc

#129 Update container-instances-egress-ip-address.md: Add notice on blocking port 19390
  articles/container-instances/container-instances-egress-ip-address.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-container-instances/svc

#200 Update Compatibility in overview.md
  articles/virtual-machines/metadata-security-protocol/overview.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-virtual-machines/svc

#203 MSP: Update brownfield docs for enabling GPA through GPA Extension
  articles/virtual-machines/metadata-security-protocol/brownfield.md
Labels: do-not-merge, Change sent to author, azure-virtual-machines/svc

#189 Specify HyperVGeneration = 'v1'
  articles/virtual-machines/windows/image-builder-powershell.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-virtual-machines/svc, image-builder/subsvc

#190 Update image used
  articles/virtual-machines/windows/image-builder-virtual-desktop.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-virtual-machines/svc, image-builder/subsvc

#163 Update oracle-database-quick-create.md
  articles/virtual-machines/workloads/oracle/oracle-database-quick-create.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, oracle-on-azure/svc
